.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4.2em;
}

.itemWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 3.5rem;
  left: 0;

  width: 18.8rem;
  padding: 1em;

  background-color: #f1f3f5;
  border-radius: 10px;
  box-shadow: 0px 0px 8px var(--Color-8, #e8ebe7);

  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  z-index: 10;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #f1f3f5;
}
