.deleteBtn {
  width: 11rem;
  height: 3.1rem;
  border: none;
  border-radius: 10px;
  background: #b8c7b0;
  box-shadow: 0px 0px 4px 0px #d4ddcf;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.deleteBtn:hover {
  background-color: #a3b798;
}
