.deleteBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  width: 11em;
  height: 3.2rem;

  border: none;
  border-radius: 10px;

  background: #b8c7b0;
  box-shadow: 0px 0px 0.4rem 0px #d4ddcf;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: #a7ba9c;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.bottomSheet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 26em;
  padding: 1.6em;

  background: #fff;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px -0.4rem 1rem rgba(0, 0, 0, 0.1);

  z-index: 1002;
  animation: slideUp 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.bottomSheet.close {
  animation: slideDown 0.3s ease-in;
  transition: transform 0.3s ease-in;
}

.bottomSheetOverlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1001;
}

.handleBar {
  width: 7rem;
  height: 1rem;
  margin-bottom: 1.6em;

  background-color: #d7f3c6;
  border-radius: 100px;
}

.confirmText {
  margin-bottom: 1.5em;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.actions {
  display: flex;
  flex-direction: column;

  gap: 1.2em;
  margin-bottom: 3em;
}

.cancelBtn,
.confirmBtn {
  width: 30rem;
  height: 4rem;
  border-radius: 8px;

  font-size: 1.6rem;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelBtn {
  border: none;
  background-color: #f1f3f5;

  color: #929292;
}

.cancelBtn:hover {
  background-color: #e5eaef;
}

.confirmBtn {
  background-color: #19e407;
  color: #fff;
  border: none;
}

.confirmBtn:hover {
  background-color: #18d207;
}

.cancelBtn:focus,
.confirmBtn:focus {
  outline: none;
}

.cancelBtn:active,
.confirmBtn:active {
  transform: scale(0.97);
}
