.CircleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;

  width: 6.9rem;
  height: 8.9rem;
}

.Circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.9rem;
  height: 6.9rem;
  border-radius: 200%;
  box-sizing: border-box;

  background-color: white;
  border: 0.3em solid #83c63f;
}
