.BoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8fff3;
}

.GridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.9rem, 1fr));
  gap: 18px 6px;
  justify-items: center;
  align-content: flex-start;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;
  width: 6.9rem;
  height: 8.9rem;
  position: relative;
}

.LinkContainer:last-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.2rem;
}

.AddCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.9rem;
  height: 6.9rem;
  border-radius: 50%;
  background-color: #d7f3c6;
  box-sizing: border-box;
}

.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
