.BoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #f8fff3;
}

.AddCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.9rem;
  height: 6.9rem;
  border-radius: 200%;

  background-color: #d7f3c6;
}

.GridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(69px, 1fr));
  gap: 9px 6px;
  justify-items: center;
  align-content: start;
}
