.BoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #f8fff3;
}

.GridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.9rem, 1fr));
  gap: 0.9em 0.6em;
  justify-items: center;
  align-content: flex-start;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;

  width: 6.9rem;
  height: 8.9rem;
}

.AddCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.9rem;
  height: 6.9rem;
  border-radius: 50%;
  background-color: #d7f3c6;
  box-sizing: border-box;
}
