.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 10rem;
}

.quizBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconMentContainer {
  position: relative;
}

.iconMentContainer p {
  position: absolute;
  top: 0;

  width: 3rem;
  text-align: center;
  line-height: 1.8rem;
}

.answerContainer {
  width: 23rem;
  margin: 2rem 0 1.7rem 0;

  text-align: right;
}

/* 텍스트 */
.textGreen {
  color: #91e26b;
}

.textRed {
  color: #ff2727;
}

.correctTitle {
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0.6rem 0 0.3rem 0;
}

.quizTitle {
  width: 23rem;

  color: #000;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.014rem;
}

.quizPoint {
  color: #000;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quizAnswer {
  color: #000;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iconCorrect {
  width: 10rem;
  height: 10rem;
  margin: 1.5rem 0 3.6rem 0;
}

.expTitle {
  width: 23rem;

  color: #000;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.014rem;
  text-align: center;
}

.expBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 23rem;
  min-height: 5rem;
  flex-shrink: 0;
  border-radius: 1.5rem;

  background-color: #f1f3f5;
  padding: 1.2rem;
}

.expBody {
  width: 22rem;
  margin-top: 1rem;

  color: #000;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.iconArrow {
  width: 0.5rem;
  height: 1.4rem;
  transform: rotate(180deg);
}

.homeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  width: 27.7rem;
  height: 3.8rem;
  border-radius: 1em;
  border: none;
  background-color: #19e407;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: 0 0 0.4em 0 #d4ddcf;
  cursor: pointer;
  margin-top: 4rem;
}
