.loginPageContainer {
  width: 100%;
  height: 100%;

  background-color: #91e26b;
}

.logoTopContainer {
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  padding-bottom: 13rem;

  height: 20rem;
}

.iconLogo {
  width: 4.5rem;
  height: 5.7rem;
  margin-bottom: 1rem;
}

.textLogo {
  width: 27rem;
  height: 5.7rem;
  margin-top: 2rem;
}

.logoMent {
  width: 27rem;

  color: #fff;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.6rem;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginMent {
  margin-bottom: 2rem;

  color: #f1f3f5;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
