/* 바텀시트 공통 스타일 */
.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.75);

  z-index: 2000;
  transition: background-color 0.3s ease-in-out;
}

.bottomSheet {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 32rem;
  height: 25rem;
  border-radius: 3.2rem 3.2rem 0 0;

  background-color: white;
  padding: 2rem;

  transition: transform 0.2s ease-out;
  animation: slideUp 0.2s ease-in-out;
}

.bottomBar {
  width: 8rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 auto 1.5rem;

  background-color: #d7f3c6;

  cursor: pointer;
}

.sheetContent {
  text-align: center;
}

.sheetTitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

/* 버튼 관련*/
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 3rem;
}
.cancelBtn,
.confirmBtn {
  width: 30rem;
  height: 4rem;
  border-radius: 8px;

  font-size: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelBtn {
  border: none;
  background-color: #f1f3f5;

  color: #929292;
}

.cancelBtn:hover {
  background-color: #e5eaef;
}

.confirmBtn {
  background-color: #19e407;
  border: none;

  color: #fff;
}

.confirmBtn:hover {
  background-color: #18d207;
}

.cancelBtn:focus,
.confirmBtn:focus {
  outline: none;
}

.cancelBtn:active,
.confirmBtn:active {
  transform: scale(0.97);
}
