.tableWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableName {
  color: #929292;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.tableContainer {
  text-align: center;
  width: 318px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  border: var(--sds-size-stroke-border) solid #fff;

  box-shadow: 0px 1px 8px 0px var(--Main-Color, #d7f3c6);
}

.tableHead th {
  padding: 8px;
  background: #d7f3c6;
  text-align: left;
  color: #5e5e5e;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
}

.tableRow td {
  padding: 9px 0;
  /* height: 30px; */
  border-bottom: 1px solid #f1f3f5;
  color: #000;
  text-align: center;
  justify-content: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yearCell {
  width: 80px;
  color: #929292 !important;
  font-size: 10px !important;
}

.costUsageDivider {
  border-left: 2px solid#F1F3F5; /* 년도와 전기요금 사이의 줄 */
}
.plusIcon {
  width: 11px;
  height: 11px;
}

.yearHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropDownIcon {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.dropdownMenu {
  width: 100px;
  position: absolute;
  top: 60px;
  border-radius: 10px;
  border: 1px solid #b6ec94;
  box-shadow: 0px 1px 8px 0px #d7f3c6;
  background: #fff;
  z-index: 100;
  padding: 10px 0;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  color: #5e5e5e;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdownItem:hover {
  background: #b6ec94;
}

.dropdownbtn {
  display: flex;
  align-items: center;
}
