.topBar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 8rem;

  background: #91e26b;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-top: 7em;
}

.bodyContainer {
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.boxContainer {
  display: flex;
  flex-direction: column;

  padding: 3rem 0;
}

.optionMent {
  margin: 1em 3em;

  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selectMent {
  margin-left: 4.5em;

  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropDown {
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  margin: 0 1rem;

  width: 9.3rem;
  height: 2.8rem;
  border-radius: 2rem;
  border: 0.2rem solid #b6ec94;

  color: #333;
}

.placeholder {
  background-color: #fff;
}

.selected {
  background: #b6ec94;
}

.btnWrap {
  display: flex;
  justify-content: center;

  margin-top: 4rem;
  width: 100%;
}

.homeBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27rem;
  height: 3.8rem;
  border-radius: 1.5rem;
  border: none;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inactiveBtn {
  background-color: #f1f3f5;

  color: #929292;
}

.activeBtn {
  background-color: #19e407;
  cursor: pointer;
  box-shadow: 0 0 0.4rem 0 #d4ddcf;

  color: #fff;
}

.logo {
  width: 3.5rem;
  height: 4.4rem;
}
