.wrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 20rem;
  margin-bottom: 0.6rem;
}

.box {
  width: 17rem;
  /* height: 10rem; */
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px var(--Main-Color, #d7f3c6);
  margin-bottom: 2.5rem;
  padding: 1rem 1.5rem;
}
.powerinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 입력하기, 전체 히스토리 버튼 */
.btn {
  width: 100px;
  height: 24px;
  border-radius: 20px;
  background-color: #b6ec94;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

/* 기본 폰트 */
.text_normal {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.text_bold {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
}
