.wrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.title {
  margin-top: 2.5rem;
  margin-left: 2.3rem;
  margin-bottom: 0.6rem;

  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.powerinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 입력하기, 전체 히스토리 버튼 */
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;

  width: 12rem;
  height: 2.4rem;
  border-radius: 2em;
  border: none;

  background-color: #b6ec94;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;

  cursor: pointer;
}
.powerBtn {
  text-align: center;
  cursor: pointer;

  width: 27.7rem;
  height: 3.8rem;
  background-color: #19e407;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}
.btnWrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}
/* 기본 폰트 */
.text_normal {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.014rem;
}

.text_bold {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
}

/* 예상요금, 저번달요금 */
.compareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
}

.iconComment {
  width: 35rem;
  height: 3.5rem;
}

.commentText {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30rem;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.commentBlue {
  color: #039cf5;
  font-weight: 600;
}

.commentRed {
  color: #ff2727;
  font-weight: 600;
}

.commentGreen {
  color: #1aad0d;
  font-weight: 600;
}

.cost {
  padding-left: 2rem;
  margin-top: 0.7rem;

  color: #111;
  text-align: left;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.costGreen {
  color: #19e407;
}

.tipMent {
  width: 25rem;
  margin-top: 1.5rem;

  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 홈 */
.coinWrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2.8rem;
}

.coinContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin {
  display: flex;
  align-items: center;
  margin-left: 2.3rem;
}

.coinIcon {
  width: 2rem;
  height: 2rem;
}

.text_title {
  margin-bottom: 1.3rem;

  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.appliancsGreen {
  color: #91e26b;
}

.bodyContainer {
  margin-bottom: 0.8rem;
}

.powerContent {
  margin-bottom: 1rem;
}
.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 132px;
}
