.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  animation: fadeIn 0.5s ease-in-out;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 1001;

  padding: 2em;
  border-radius: 1.5em;
  animation: fadeIn 0.5s ease-in-out;
}

.popupBox {
  width: 27.8rem;
  height: 20rem;
  border-radius: 1.5em;
  background-color: #fff;
  padding: 2rem;
}

.textPoint {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconPointSmall {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.5rem;
}
.pointContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyMent {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1.6rem 0 3rem 0;
}
.closeBtn,
.confirmBtn {
  z-index: 1003;

  width: 11rem;
  height: 3.2rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0px 0px 4px 0px var(--Color-8, #d4ddcf);
}
.closeBtn {
  background-color: #d7f3c6;
}
.confirmBtn {
  background-color: #19e407;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 2.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
